RewriteEngine on
RewriteCond     %{SERVER_PORT} ^80$
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

#RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !(\.svg|\.eot|\.otf|\.pdf|\.png|\.css|\.js|\.jpg|\.html|\.map|\.woff|\.woff2|\.ttf|\.gif|\.ico|\.xml|\.txt|\.xsl)$ [NC]
RewriteCond %{REQUEST_URI} !filemanager
RewriteCond %{REQUEST_URI} !uploads
RewriteCond %{REQUEST_URI} !piwik
RewriteCond %{REQUEST_URI} !site_map
RewriteRule ^(.*)$ index.php [PT,L]

RewriteCond %{REQUEST_URI} uploads
RewriteRule uploads/(.*)$ uploads/$1